.col-4{
    width: 20px;
}

.calc {
    margin: auto;
    border-spacing: 0;
    border: 1px solid black;
}

.calc td{
    text-align: center;
    width: 20%;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid black;
}

.calc td:hover{
    background: #f1f1f1;
}

.calc td:active{
    background: #DDDDDD;
}

.calc .calc-area{
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
    cursor: inherit;
}}
