<div class="row">

    <div class="col s12 m4 l3">
        <div class="row card-panel">

            <div class="draggable" id="section1">
                <span> Seção 1 </span>
                <span> <i class="material-icons">menu</i> </span>
            </div>

            <div class="draggable" id="section2">
                <span> Seção 2 </span>
                <span> <i class="material-icons">menu</i> </span>
            </div>

            <div class="draggable" id="section3">
                <span> Seção 3 </span>
                <span> <i class="material-icons">menu</i> </span>
            </div>

        </div>
    </div>

    <div class="col s12 m4 l6">
        <div class="row card-panel" id="droppable">

            <div class="sections" ng-repeat="section in mySections">

                <!-- SECTION 1 -->
                <div ng-if="section.type == 1">

                    <div ng-show="section.edit">
                        <div class="input-field col s12 m12 l12">
                            <input id="title" type="text" class="validate" ng-model="section.data.title">
                            <label for="title">Título</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="subtitle" type="text" class="validate" ng-model="section.data.subtitle">
                            <label for="subtitle">Subtítulo</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="imagem" type="text" class="validate" ng-model="section.data.image">
                            <label for="imagem">Imagem</label>
                        </div>

                        <div class="col s12 m12 l12">
                            <button type="submit" class="btn waves-effect waves-light" ng-click="section.edit = false; save()"> SALVAR </button>
                            <button type="submit" class="btn waves-effect waves-light red" ng-click="delete($index)"> DELETE </button>
                        </div>
                    </div>

                    <div ng-show="!section.edit">
                        <h2>{{section.data.title}}</h2>
                        <h4>{{section.data.subtitle}}</h4>

                        <div class="input-field col s12 m12 l12" ng-if="!section.edit">
                            <img src="{{section.data.image}}"/>
                        </div>

                        <div class="col s12 m12 l12">
                            <button type="submit" class="btn waves-effect waves-light" ng-click="section.edit = true; edit()"> EDITAR </button>
                            <button type="submit" class="btn waves-effect waves-light red" ng-click="delete($index)"> DELETE </button>
                        </div>
                    </div>
                </div>

                <!-- SECTION 2 -->
                <div ng-if="section.type == 2">

                    <div ng-show="section.edit">
                        <div class="input-field col s12 m12 l12">
                            <input id="title2" type="text" class="validate" ng-model="section.data.title">
                            <label for="title2">Título</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="subtitle2" type="text" class="validate" ng-model="section.data.subtitle">
                            <label for="subtitle2">Subtítulo</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="background" type="text" class="validate" ng-model="section.data.background">
                            <label for="background">Background</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="buttonLabel" type="text" class="validate" ng-model="section.data.button.label">
                            <label for="buttonLabel">Button Label</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="buttonLink" type="text" class="validate" ng-model="section.data.button.link">
                            <label for="buttonLink">Button Link</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <select ng-model="section.data.button.target">
                              <option value="_self" selected>Self</option>
                              <option value="_blank">Blank</option>
                              <option value="_parent">Parent</option>
                              <option value="_top">Top</option>
                            </select>
                            <label>Button Target</label>
                        </div>

                        <div class="col s12 m12 l12">
                            <button type="submit" class="btn waves-effect waves-light" ng-click="section.edit = false; save()"> SALVAR </button>
                            <button type="submit" class="btn waves-effect waves-light red" ng-click="delete($index)"> DELETE </button>
                        </div>
                    </div>

                    <div ng-show="!section.edit">
                        <div style="display:inline-block; background-color:{{section.data.background}};">
                            <h2>{{section.data.title}}</h2>
                            <h4>{{section.data.subtitle}}</h4>

                            <div class="col s12 m12 l12">
                                <a class="btn waves-effect waves-light"
                                    href="{{section.data.button.link}}"
                                    target="{{section.data.button.target}}">
                                {{section.data.button.label}}</a>
                            </div>

                            <div class="col s12 m12 l12">
                                <button type="submit" class="btn waves-effect waves-light" ng-click="section.edit = true; edit()"> EDITAR </button>
                                <button type="submit" class="btn waves-effect waves-light red" ng-click="delete($index)"> DELETE </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECTION 3 -->
                <div ng-if="section.type == 3">

                    <div ng-show="section.edit">
                        <div class="input-field col s12 m12 l12">
                            <input id="createdAt" type="text" class="validate" ng-model="section.data.createdAt">
                            <label for="createdAt">Criado em</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="imagem1" type="text" class="validate" ng-model="section.data.image1">
                            <label for="imagem1">Imagem 1</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="imagem2" type="text" class="validate" ng-model="section.data.image2">
                            <label for="imagem2">Imagem 2</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <input id="imagem3" type="text" class="validate" ng-model="section.data.image3">
                            <label for="imagem3">Imagem 3</label>
                        </div>

                        <div class="col s12 m12 l12">
                            <button type="submit" class="btn waves-effect waves-light" ng-click="section.edit = false; save()"> SALVAR </button>
                            <button type="submit" class="btn waves-effect waves-light red" ng-click="delete($index)"> DELETE </button>
                        </div>
                    </div>

                    <div ng-show="!section.edit">
                        <h4>{{section.data.createdAt}}</h4>

                        <div class="input-field col s12 m12 l12" ng-if="!section.edit">
                            <img src="{{section.data.image1}}"/>
                        </div>

                        <div class="input-field col s12 m12 l12" ng-if="!section.edit">
                            <img src="{{section.data.image2}}"/>
                        </div>

                        <div class="input-field col s12 m12 l12" ng-if="!section.edit">
                            <img src="{{section.data.image3}}"/>
                        </div>

                        <div class="col s12 m12 l12">
                            <button type="submit" class="btn waves-effect waves-light" ng-click="section.edit = true; edit()"> EDITAR </button>
                            <button type="submit" class="btn waves-effect waves-light red" ng-click="delete($index)"> DELETE </button>
                        </div>
                    </div>
                </div>

            </div> <!-- end sections  -->

        </div>
    </div>

    <div class="row col s12 m4 l3">
        <div class="card-panel">
            <pre>
                {{json}}
            </pre>
        </div>
    </div>

</div>
