.draggable {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    cursor: move;
}
.draggable span:nth-child(1) {
    width: 100%;
}
.draggable span:nth-child(2) {
    display: inline-flex;
}
.ui-state-hover {
    background-color: #e8f5e9;
}

.section {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #f5f5f5;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5 {
    padding: 10px;
    margin: 0;
}

.card-panel {
    min-height: 200px;
    display: block;
}
.btn {
    margin: 10px;
}
